.ProseMirror {
  max-width: 21.59cm;
  width: 21.59cm;
  min-height: 27.94cm;
  //   height: 29.7cm;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  white-space: normal;
  &:focus {
    outline: none;
  }
}

.underBracket {
  margin: 0px -8px 0px -8px;
  padding: 1px 7px 2px 7px;
  border: solid 1px #000;
  border-color: transparent transparent black transparent;
  border-radius: 0% 0% 38% 38%;
}

.doubleUnderLine {
  border-style: none none double none;
  display: inline;
  align-self: center;
  padding: 0px;
}

.h11 {
  margin: 0px;
}
