@font-face {
  font-family: Siddhanta;
  src: url(./siddhanta.ttf);
}

@font-face {
  font-family: Noto;
  src: local("NotoSansDevanagari-Regular.ttf");
}

@font-face {
  font-family: NotoMono;
  src: local("NotoMono-Regular.ttf");
}

.ProseMirror {
  // font-family: Noto;
  // font-family: Siddhanta;
  font-size: 24px;
  max-width: 21.59cm;
  width: 21.59cm;
  min-height: 27.94cm;
  //   height: 29.7cm;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  white-space: normal;
  &:focus {
    outline: none;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }  
}
.tableWrapper {
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.underBracket {
  margin: 0px -8px 0px -8px;
  padding: 1px 7px 2px 7px;
  border: solid 1px #000;
  border-color: transparent transparent black transparent;
  border-radius: 0% 0% 38% 38%;
}

.doubleUnderLine {
  border-style: none none double none;
  display: inline;
  align-self: center;
  padding: 0px;
}

.h11 {
  margin: 0px;
}
